<ion-view title="Categories" >
    <ion-nav-buttons side="right" >    
        <a class="button button-icon button-clear ion-ios-search"  href="#/app/search"></a>
      </ion-nav-buttons>
    <ion-pane class="categories-page">
         <ion-content class="has-header">
             <div ng-repeat="menu in categories track by $index">
            <ion-list class="item align-right dark-shade" style="background-image:url({{menu.image}})" ng-init="val=false" ng-click="toggleGroup(menu,$index)" >
                <h2 class="light padding-bottom " ng-if="menu.submenu.length">{{menu.title}}</h2>
                <a ng-if="!menu.submenu.length" ng-href="#/app/members/{{menu.id}}"><h2 class="light padding-bottom">{{menu.title}}</h2></a>
            </ion-list>
                 
             <div class="item-body item-accordion" ng-show="menu.show">
                 <a class="item " ng-repeat="submenu in menu.submenu" href="#/app/members/{{submenu.id}}"><h2>{{submenu.title}} </h2></a>
             </div>
                 </div>
            
        </ion-content>
    </ion-pane>
</ion-view>
