<ion-view title="My Connections" class="listing-page">


    <div class="tabs-striped tabs-top tabs-color-royal">
        <div class="tabs">
            <a class="tab-item" ng-class="{true:'active'}[ConnectedList]" ng-click="ConnectedList = true">
                <i class="icon ion-person"></i>
            </a>
            <a class="tab-item" ng-class="{true:'active'}[!ConnectedList]" ng-click="ConnectedList = false">
                <i class="icon ion-ios-search-strong"></i>
            </a>
        </div>
    </div>

    <ion-content class="has-subheader  has-footer" ng-show="ConnectedList">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list ng-init="favItem = false" >
            <ion-item class="item item-avatar item-icon-right" ng-repeat="connection in connections | filter: {connected: true} | orderBy: 'display_name'" >
                <img ng-src="{{connection.avatar || 'img/noimage.jpg'}}">
                <h2 class="assertive">{{connection.display_name}}</h2>
                <p ng-if="connection.country"> <i class="ion-ios-location"></i> {{connection.country}}</p>
                <i class="icon ion-ios-arrow-forward circle royal"></i>
                <ion-option-button class="button-royal" ng-click="checkConnect(connection,'list')">
                    <i class="icon" ng-class="{true:'ion-ios-person', false:'ion-ios-person-outline'}[connection.connected]"></i>
                </ion-option-button>
            </ion-item>

            <ion-item ng-show="(connections | filter: {connected: true}).length < 1">
                There are no connection available
            </ion-item>
        </ion-list> 
    </ion-content>
    
     <ion-content class="has-subheader" ng-show="!ConnectedList">
    
     <ion-list ng-init="favItem = false" >
            <ion-item class="item item-avatar item-icon-right" ng-repeat="connection in searchConnect" >
                <img ng-src="{{connection.avatar || 'img/noimage.jpg'}}">
                <h2 class="assertive">{{connection.display_name}}</h2>
                <p ng-if="connection.country"> <i class="ion-ios-location"></i> {{connection.country}}</p>
                <i class="icon ion-ios-arrow-forward circle royal"></i>
                <ion-option-button class="button-royal" ng-click="checkConnect(connection,'search')">
                    <i class="icon" ng-class="{true:'ion-ios-person', false:'ion-ios-person-outline'}[connection.connected]"></i>
                </ion-option-button>
            </ion-item>

            <ion-item ng-show="(searchConnect).length < 1">
                There are no search result available
            </ion-item>
        </ion-list>
    </ion-content>
    
    <div class="bar bar-footer  search-box ng-hide" ng-show="!ConnectedList">
        <form name="connectForm" ng-submit="search(connectForm.$valid)" novalidate>
            <label class="item item-input">
                <input type="text" name="searchtext" class="royal" placeholder="Search" ng-model="connectData" required>
                <button class="button icon ion-search button-royal" type="submit"></button>
            </label>
        </form>
    </div>
</ion-view>
