s<ion-view title="Log In">
    <ion-pane class="login-page">
        <div class="bar bar-header bar-light">
            <a class="button button-icon icon ion-ios-arrow-thin-left" href="#/home"></a>
            <h1 class="title">Sign In</h1>
        </div>
        <ion-content class="has-header padding">


            <div class="list">
                <h2>Welcome</h2>
                <h5>Please Sign in to get Access.</h5>
                <div id="listTable"></div>
                <div class="form-login">
                     <form name="loginForm"  ng-submit="login(loginForm.$valid)" novalidate>
                    <label class="item item-input icon-user" ng-class="{error:loginForm.uname.$error.required ,errorview :(loginForm.$submitted || loginForm.uname.$touched)}">
                        <input type="text" placeholder="User Name" name="uname"  ng-model="data.username" required>
                        <i class="icon ion-person royal"></i>
                    </label>
                    <label class="item item-input icon-password" ng-class="{error:loginForm.password.$error.required ,errorview :(loginForm.$submitted || loginForm.password.$touched)}">
                        <input type="password"  placeholder="Password"  name="password" ng-model="data.password" required>
                        <i class="icon ion-ios-locked royal"></i>
                    </label>
                    <button type="submit" class="button button-full button-royal no-border bold-text uppercase login-btn">
                        Sign In
                    </button>
                    </form>
                    
                    <a class="button button-clear button-dark underline" href="#/register" >Create My Account</a>
                    <a class="button button-clear button-dark underline " href="#/forgot"  >Forgot Password </a>
                    <a class="button button-stable button-full fb-btn" ng-click="facebookLogin()">Connect with Facebook</a>
             
      
                </div>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>
