<ion-view title="Map" class="iframe-page">
    <ion-pane>
        <ion-content has-bouncing="false">
             <iframe src="http://www.jimapco.com/maproom/discoversaratoga/" class="jimapco"></iframe>
        </ion-content>
       
            
    </ion-pane>
</ion-view>

<!--<span class="button  button-royal no-border no-radius icon-top wi wi-moon-waning-crescent-3">Night<em>15</em></span>-->
<!-- <span class="button no-radius button-royal no-border icon-top wi wi-strong-wind">Wind<em>{{weatherReport.wind.speed}} mph</em></span>-->
