<ion-view>
    <ion-pane class="sidebar-page">
        <div class="bar bar-header bar-light">
            <a class="button button-icon icon ion-ios-close-empty"></a>
            <h1 class="title">Menu</h1>
        </div>

        <ion-content >
            <ion-list>
                <ion-item class="item item-avatar">
                    <img width="35" height="35" src="img/photos/list-image-1.jpg">
                    Todd Garofano
                </ion-item>
                
                <ion-item class="item item-icon-left" href="#/event/1">
                    <i class="icon ion-ios-search"></i> 
                    Search
                </ion-item>
                 <ion-item class="item item-icon-left" href="#/event/1">
                    <i class="icon ion-ios-chatbubble-outline"></i> 
                    Messages
                      <span class="badge badge-royal">23</span>
                </ion-item>
                
                <ion-item class="item item-icon-left" href="#/event/1">
                    <i class="icon ion-ios-people-outline"></i> 
                    Following
                </ion-item>
                
                <ion-item class="item item-icon-left" href="#/event/1">
                    <i class="icon ion-ios-star-outline"></i> 
                    My Favorites
                </ion-item>
                
                <ion-item class="item item-icon-left" href="#/event/1">
                    <i class="icon ion-ios-pie-outline"></i> 
                    Reports
                </ion-item>
                
                 <ion-item class="item item-icon-left" href="#/event/1">
                    <i class="icon ion-ios-settings"></i> 
                    Settings
                </ion-item>
                
                 <ion-item class="item item-icon-left" href="#/event/1">
                    <i class="icon ion-log-out"></i> 
                    <strong>Logout</strong>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-pane>
</ion-view>