<ion-view>
    <ion-pane class="intro-page">
        <ion-content has-bouncing="false">
            <ion-slide-box class="intro-slider">
                <ion-slide ng-repeat="slide in slides track by $index">
                    <div class="slide">
                        <div class="box">
                            <img src="img/intro-logo.png" alt="" width="170">
                            <div class="content" ng-bind-html="slide | hrefToJS">
                            
                            </div>
                        </div>
                    </div>
                </ion-slide>
              
            </ion-slide-box>

        </ion-content>

    </ion-pane>

    <ion-footer-bar align-title="left" class="intro-footer">
        <div class="button-bar">
            <a class="button button-light no-border no-radius" href="#/login">Sign In</a> 
            <a class="button button-dark no-border no-radius" href="#/register">Sign Up</a>
        </div>
    </ion-footer-bar>
</ion-view>
